@import "tailwindcss";

@theme {
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;
  --shadow-normal: 0 1px 10px rgba(0, 0, 0, 0.05);
  --border-4xl: 2rem;
  --font-dana-bold: "Dana-Bold";
  --font-dana-regular: "Dana-Regular";
  --breakpoint-xs: 30rem;
}
/* .home {
  background-image: url("../images/headerBgDesktop.webp");
  background-repeat: no-repeat;
} */
@custom-variant dark (&:where(.dark,.dark *));
@custom-variant child (& > *);
@custom-variant child-hover (& > *:hover);

@layer components {
  .sub-menu {
    @apply hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
  }
  .submenu--open {
    @apply flex;
  }
  .overlay {
    @apply md:hidden invisible opacity-0 fixed inset-0 w-full h-full bg-black/40 z-10 transition-all;
  }
  .overlay--visible {
    @apply visible opacity-100;
  }
}

.circle {
  @apply flex justify-center items-center border rounded-full;
}
.circle--main {
  @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4 hidden md:flex;
}
.circle--lg {
  @apply w-[203px] h-[203px] border-white/25;
}
.circle--md {
  @apply w-[145px] h-[145px] border-white/50;
}
.circle--sm {
  @apply w-[95px] h-[95px] border-white/80;
}
