@import "tailwindcss";

@theme {
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;
  --shadow-custom: 0 1px 10px rgba(0, 0, 0, 0.05);
  --border-4xl: 2rem;
  --yekan: "B Yekan_YasDL.com.ttf";
  --font-nazanin: "Far.Nazanin";
}
