@import "tailwindcss";

@theme {
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;
  --shadow-normal: 0 1px 10px rgba(0, 0, 0, 0.05);
  --border-4xl: 2rem;
  --font-dana-bold: "Dana-Bold";
  --font-dana-regular: "Dana-Regular";
}

/* body {
  background-image: url("../images/headerBgDesktop.webp");
  background-repeat: no-repeat;
} */
@custom-variant dark (&:where(.dark,.dark *));

@custom-variant child (& > *);
@custom-variant child-hover (& > *:hover);

@layer components {
  .sub-menu {
    @apply hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
  }
  .submenu--open {
    @apply flex;
  }
  .overlay {
    @apply md:hidden invisible opacity-0 fixed inset-0 w-full h-full bg-black/40 z-10 transition-all;
  }
  .overlay--visible {
    @apply visible opacity-100;
  }
}
